﻿@{
    ViewBag.Title = "Api";
    ViewBag.Message = "Realizar un servicio rest(json) con paginado conectado a una DB.";
}

<h3>@ViewBag.Message</h3>
<br/>

<section class="content-wrapper main-content clear-fix" wfd-id="2">


    <h2 id="Products">Products</h2>
    <table class="table">
        <thead>
        <tr>
            <th>API</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="api-name">
                <a href="/api/Products">GET api/Products</a>
            </td>
        </tr>
        <tr>
            <td class="api-name">
                <a href="/api/Products?page=2&pageSize=10">GET api/Products?page={page}&pageSize={size}</a>
            </td>
        </tr>
        <tr>
            <td class="api-name">
                <a href="/api/Products/5">GET api/Products/{id}</a>
            </td>

        </tr>
        <tr>
            <td class="api-name">
                <a href="/api/Products">POST api/Products</a>
            </td>

        </tr>
        <tr>
            <td class="api-name">
                <a href="/api/Products/5">PUT api/Products/{id}</a>
            </td>

        </tr>
        <tr>
            <td class="api-name">
                <a href="/api/Products/5">DELETE api/Products/{id}</a>
            </td>

        </tr>
        </tbody>
    </table>
</section>


<section class="content-wrapper main-content clear-fix" wfd-id="2">


    <h2 id="Customers">Customers</h2>
    <table class="table">
        <thead>
        <tr>
            <th>API</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="api-name">
                <a href="/api/Customers">GET api/Customers</a>
            </td>

        </tr>
        <tr>
            <td class="api-name">
                <a href="/api/Customers?page=2&pageSize=10">GET api/Customers?page={page}&pageSize={size}</a>
            </td>
        </tr>
        <tr>
            <td class="api-name">
                <a href="/api/Customers/5">GET api/Customers/{id}</a>
            </td>

        </tr>
        <tr>
            <td class="api-name">
                <a href="/api/Customers">POST api/Customers</a>
            </td>

        </tr>
        <tr>
            <td class="api-name">
                <a href="/api/Customers/5">PUT api/Customers/{id}</a>
            </td>

        </tr>
        <tr>
            <td class="api-name">
                <a href="/api/Customers/5">DELETE api/Customers/{id}</a>
            </td>

        </tr>
        </tbody>
    </table>
</section>