﻿@{
    ViewBag.Title = "Grilla";
    ViewBag.Message = "Consumir un JSON gratis disponible, y desplegar la información en una grilla paginada";
}

<h3>@ViewBag.Message</h3>
<br/>

<table id="myTable" class="table table-striped table-bordered" style="width: 100%">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Continente</th>
        <th>Subregión</th>
        <th>Capital</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Nombre</th>
        <th>Continente</th>
        <th>Subregión</th>
        <th>Capital</th>
    </tr>
    </tfoot>
</table>

@section scripts {
    @Styles.Render("~/Content/datatables")
    @Scripts.Render("~/bundles/datatables")

    <script type="text/javascript">
        $(function() {
            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                },
                "ajax": {
                    "url": "https://restcountries.eu/rest/v2/all",
                    "dataSrc": ""
                },
                "columns": [
                    {
                        "data": "name",
                        "name": "Nombre"
                    },
                    {
                        "data": "region",
                        "name": "Continente"
                    },
                    {
                        "data": "subregion",
                        "name": "Subregión"
                    },
                    { "data": "capital" }
                ]
            });
        });
    </script>

}