﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ejercicios de Desarrollo</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            0.- Sitio web .aspx o apps.
        </p>
        <p>@Html.ActionLink("Haga clic aquí", "Index", "Home", new {@class = "btn btn-default"})</p>
    </div>
    <div class="col-md-4">
        <p>1- Realizar un servicio rest(json) con paginado conectado a una DB.</p>
        <p>@Html.ActionLink("Haga clic aquí", "Api", "Home", new {@class = "btn btn-default"})</p>
    </div>
    <div class="col-md-4">
        <p>2.- Consumir un JSON gratis disponible, y desplegar la información en una grilla paginada.</p>
        <p>@Html.ActionLink("Haga clic aquí", "Consume", "Home", new {@class = "btn btn-default"})</p>
    </div>
</div>